<!-- <div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <button (click)="openPropertySummary(transaction.PropertyID,transaction.SaleID)" class="btn btn-success mb-3 float-left">View</button>
    </div>
  </div>
</div> -->

<div class="col-md-12" *ngIf="transaction">

  <h4 class="headCol">{{transaction.PropertyName || propertyDetails.Address}}</h4>
  <button (click)="openPropertySummary(transaction.PropertyID,transaction.SaleID)" class="btn btn-success mb-3 float-right">View</button>
  <hr>
  <div class="row">
    <div class="col-5 mb-2 tranallign center">
      <img class="img-fluid" src="{{photoUrl}}">
    </div>
    <div class="col-7 mb-2 tranallign" style="padding-right: 10px!important;">
      <h5>Property Location</h5>
      <div class="row">
        <span class="col-4"><b>Property ID</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="transaction">{{transaction.PropertyID}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>Address</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.Address}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>City</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.CityName}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>State</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.StateName}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>LGA</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.CountyName}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>Country</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.CountryCode}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>Postal Code</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.ZipCode}}</span>
      </div>
      <div class="row">
        <span class="col-4"><b>Market</b></span>
        <span class="col-2 hyphen">-</span>
        <span class="col-6" *ngIf="propertyDetails">{{propertyDetails.MarketName}}</span>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
    <div class="btn-group" id="status" data-toggle="buttons">
        <label class="btn btn-default btn-on  active" style="border-radius: 5px 0 0 5px !important;padding-right: 10px !important;" (click)="applySearchFilter(1)">
            <input name="selectAll" type="radio" value="1">Matching Transactions</label>
        <label class="btn btn-default btn-off" style="border-radius: 0 5px 5px 0  !important;padding-right: 10px !important;" (click)="applySearchFilter(0)">
            <input name="selectAll" type="radio" value="0">All Transactions</label>
    </div>
</div>
<div class="col-md-12">
  <div class="row m-0">
    <table class="table-vertical table table-striped">
      <thead>
        <tr>
          <th style="width:14%">
            <div class="arrow-group">
              <i class="fa fa-sort-up"></i>
              <i class="fa fa-sort-down"></i>
            </div>
            Date
          </th>
          <th style="width:23%">
            <div class="arrow-group">
              <i class="fa fa-sort-up"></i>
              <i class="fa fa-sort-down"></i>
            </div>
            Buyer
          </th>
          <th style="width:23%">
            <div class="arrow-group">
              <i class="fa fa-sort-up"></i>
              <i class="fa fa-sort-down"></i>
            </div>
            Seller
          </th>
          <th style="width:20%">
            <div class="arrow-group">
              <i class="fa fa-sort-up"></i>
              <i class="fa fa-sort-down"></i>
            </div>
            Sale Price
          </th>
          <th style="width:20%">
            <div class="arrow-group">
              <i class="fa fa-sort-up"></i>
              <i class="fa fa-sort-down"></i>
            </div>
            Sale Type
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="Isloader">
          <td colspan="4"><span class="ml-3"><i class="fas fa-spinner fa-spin showspin ml-3" *ngIf="Isloader"></i>Loading
              Transactions</span></td>
        </tr>
        <tr *ngFor="let transaction of transactionList">
          <td data-th="Date" (click)="showPropertyTransaction(transaction.SaleID)" style="cursor:pointer;">
            <a title="{{transaction.DeedOrSaleDate}}" href="javascript://" class="tenants-txt">{{transaction.DeedOrSaleDate
              | date: 'MM/dd/yyyy'}}</a></td>
          <td data-th="Buyer">{{transaction.Buyer}}</td>
          <td data-th="Seller">{{transaction.Seller}}</td>
          <td data-th="Sale Price">{{transaction.SoldPrice | currency:'USD':symbol:'1.0-0'}}</td>
          <td data-th="Sale Type">{{transaction.SaleTypeName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <button (click)="openPropertySummary(transaction.PropertyID,transaction.SaleID)" class="btn btn-success mb-3 float-left">View</button>
      </div>
    </div>
  </div>