
<div class="row m-0">
    <div class="col-lg-12">
      <div class="float-right">
        <button class="btn btn-success rounded-0 mr-2 mb-2 searchBtn" (click)="save()"><i class="fas fa-spinner fa-spin showspin" *ngIf="Isloader"></i><i class="fas fa-save"></i>
          Export</button>
        <button class="btn btn-primary rounded-0 mb-2 searchBtn" (click)="cancel()"><i class="fas fa-times-circle"></i>
          Cancel</button>
      </div>
    </div>
  </div>
  <div class="row m-0">
      <div class="headText col-lg-12 mb-2">Select which fields to be included with your file export. Settings toggles to
        'On' will export that data to a separate tab in your download</div>
      <div class="col-lg-12 mt-2" *ngFor="let sheet of sheets; let i = index">
        <div class="row">
          <div class="page_sub_head1">
              <div class="float-left ml-2" ><b> {{sheet.name}}</b></div>
              <div class="float-right mr-2">
                <div class="switcher m-b-5 switcher-warning">
                    <input type="checkbox" name="switcher_checkbox_5" id="{{ 'switcher_checkbox' + i }}" checked="sheet.show"[(ngModel)]="sheet.show" value="1">
                    <label for="{{ 'switcher_checkbox' + i }}"></label>
                </div>
              </div>
            </div>
        </div>
        <div class="row" *ngIf="sheet.show" dnd-sortable-container [sortableData]="sheet.fields">
          <div class="col-md-6 col-lg-4" *ngFor="let field of sheet.fields;let i=index" dnd-sortable [sortableIndex]="i">
            <div class="checkbox checkbox-css">
              <input type="checkbox" id="{{ sheet.name + i }}" [(ngModel)]="field.show" />
              <label for="{{ sheet.name + i }}">{{field.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3">
      <div class="float-right">
        <button class="btn btn-success rounded-0 mr-2 mb-2 searchBtn" (click)="save()"><i class="fas fa-spinner fa-spin showspin" *ngIf="Isloader"></i><i class="fas fa-save"></i>
          Export</button>
        <button class="btn btn-primary rounded-0 mb-2 searchBtn" (click)="cancel()"><i class="fas fa-times-circle"></i>
          Cancel</button>
      </div>
    </div>