<div class="row m-0">
  <div class="col-md-12">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="map-nav">
          <ul>
            <li class="active"><span class="map-result">{{tenantResultCount}} Results</span></li>
            <li [routerLink]="['/tenant/mapsearch']"><span class="map-result"><i class="fas fa-map"></i> Map View</span></li>
            <li class="active" *ngIf="selectedCount"><span class="map-result">{{selectedCount}} Selected</span></li>
          </ul>
        </div>

        <div class="action-btn-row" role="group">
          <button id="btnGroupVerticalDrop6" type="button" (click)="showUserPreferencesModal('Download')" title="Export to Excel" class="btn btn-primary-ash"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </button>
        </div>
        <div class="sideBarPanelWrap" id="MapSidenavSetting">
          <a href="javascript:void(0)" *ngIf="CloseActionBtnSet" class="closebtn" (click)="closeNav()"><i
              class="fa fa-angle-double-right"></i></a>
          <div id="MapSidenav" class="sideMapSearch">
            <app-tenantsettingsearch [sheets]="sheets" [userId]="userId" screen="Tenant" type="download" [(userPreferencesId)]="userPreferencesId"
            [Type]="Task"></app-tenantsettingsearch>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 p-0 mt-2">
             <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li *ngIf="pager.currentPage > 1" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">««</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">«</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">»</a>
                </li>
                <li *ngIf="pager.currentPage < pager.totalPages">
                  <a (click)="setPage(pager.totalPages)">»»</a>
                </li>
                 <span class="spinui" *ngIf="Isloader">
                <i class="fas fa-spinner fa-spin showspin"></i>
              </span>
              </ul> 
          </div>
          <div class="col-md-2 float-right offset-md-5 mt-2 pr-0 pl-0">
            <div class="drop_Box_select">
              <div class="checkbox checkbox-css chkBoxStyle" style="right: auto !important;
                  top: 1px !important;">
                <input type="checkbox" id="cssCheckbox_0" value="" [(ngModel)]="isSelectAll" (change)="onClickSelectAll($event.target.checked);" />
                <label for="cssCheckbox_0" style="white-space: nowrap !important; color: #fff">Select All</label>
              </div>
              <i class="fas fa-chevron-down fa-label" data-toggle="collapse" data-target="#selectOptionDrop"></i>
            </div>
            <div id="selectOptionDrop" class="collapse col-md-12 pr-0 pl-0 showDrop">
              <a class="dropdown-item dropLabel-right" style="width:140px;" (click)="onRemoveClick(1)">Remove Selected</a>
              <a class="dropdown-item dropLabel-right" style="width:140px;" (click)="onRemoveClick(0)">Remove
                Unselected</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-body p-0">
      <div class="row m-0">
        <div class="mt-2 col-md-12 p-0">
          <a hrefd="#/property/details">
            <div class="table-scroll">
              <div class="pane pane--table1">
                <div class="pane-hScroll">
                  <table class="table table-bordered table-sm table-head" style="margin-bottom: 0">
                    <thead>
                      <tr>
                        <th style="width:30px; text-align: center;">
                          <div class="checkbox checkbox-css tableChechbox">
                            <input type="checkbox" id="propheadCheckbox" value="" [(ngModel)]="isSelectAll" (change)="onClickSelectAll($event.target.checked);" />
                            <label for="propheadCheckbox"></label>
                          </div>
                        </th>
                        <th scope="col" style="width:350px;" (click)="sortTenant('CompanyName',CompanyNameSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('CompanyName','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('CompanyName','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Company Name
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'CompanyName' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'CompanyName' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                        <th scope="col" style="width:183px;" (click)="sortTenant('PropertyID',PropertyIdSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('PropertyID','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('PropertyID','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Property ID
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'PropertyID' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'PropertyID' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>

                        <th scope="col" style="width:180px;" (click)="sortTenant('PropertyName',PropertyNameSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('PropertyName','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('PropertyName','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Property Name
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'PropertyName' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'PropertyName' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>

                        <th scope="col" style="width:180px;" (click)="sortTenant('Address1',AddressSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('Address1','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('Address1','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Address
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'Address1' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'Address1' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>

                        <th scope="col" style="width:130px;" (click)="sortTenant('CityName',CitySortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('CityName','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('CityName','Descending'); $event.stopPropagation();"></i>
                          </div>
                          City
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'CityName' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'CityName' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>

                        <th scope="col" style="width:140px;" (click)="sortTenant('ZipCode',ZipCodeSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('ZipCode','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('ZipCode','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Postal Code
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'ZipCode' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'ZipCode' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                        <th scope="col" style="width:160px;" (click)="sortTenant('PropertyUse',PropertyUseSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('PropertyUse','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('PropertyUse','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Property Type
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'PropertyUse' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'PropertyUse' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                        <th scope="col" style="width:130px;" (click)="sortTenant('ISIC',ISICSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('ISIC','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('ISIC','Descending'); $event.stopPropagation();"></i>
                          </div>
                          SIC
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'ISIC' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'ISIC' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                        <th scope="col" style="width:130px;" (click)="sortTenant('Industry',IndustrySortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('Industry','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('Industry','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Industry
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'Industry' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'Industry' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                        <th scope="col" style="width:152px;" (click)="sortTenant('Revenue',RevenueSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('Revenue','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('Revenue','Descending'); $event.stopPropagation();"></i>
                          </div>
                          Revenue
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'Revenue' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'Revenue' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                        <th scope="col" style="width:160px;" (click)="sortTenant('Employees',EmployeesSortOrder)">
                          <div class="arrow-group">
                            <i class="fa fa-sort-up" (click)="sortTenant('Employees','Ascending'); $event.stopPropagation();"></i>
                            <i class="fa fa-sort-down" (click)="sortTenant('Employees','Descending'); $event.stopPropagation();"></i>
                          </div>
                          #Employees
                          <div class="sort_Group_white">
                            <i class="fas fa-arrow-circle-up" *ngIf="tenantSearchCriteria.SortParam == 'Employees' && tenantSearchCriteria.SortDirection == 'Ascending'"></i>
                            <i class="fas fa-arrow-circle-down" *ngIf="tenantSearchCriteria.SortParam  == 'Employees' && tenantSearchCriteria.SortDirection == 'Descending'"></i>
                          </div>
                        </th>
                      </tr>
                    </thead>

                  </table>
                  <div class="pane-vScroll">
                    <table class="table table-striped table-bordered table-sm table-head">
                      <tbody>
                        <tr *ngFor="let tenant of tenantList; let i = index;">
                          <td style="width:30px;">
                            <div class="checkbox checkbox-css tableChechbox">
                              <input type="checkbox" id="propCheckbox_{{i}}" (change)="Selection($event.target.checked);" [(ngModel)]='tenant.isSelected' 
                                value="" />
                              <label for="propCheckbox_{{i}}"></label>
                            </div>
                          </td>
                          <td style="width:350px;"><a class="prop-name" (click)="openDetailNav(tenant)">{{tenant.CompanyName}} </a></td>
                          <td style="width:183px;"><a class="prop-name" (click)="showPropertyTenant(tenant.PropertyID,tenant.ConfirmedTenantID,tenant.BranchID)">{{tenant.PropertyID}}
                            </a></td>
                          <td style="width:180px;"><a class="prop-name"  (click)="showPropertyTenant(tenant.PropertyID,tenant.ConfirmedTenantID,tenant.BranchID)">{{tenant.PropertyName}}</a></td>
                          <td style="width:180px;"><a class="prop-name" (click)="showPropertyTenant(tenant.PropertyID,tenant.ConfirmedTenantID,tenant.BranchID)">{{tenant.Address1}}</a></td>
                          <td style="width:130px;">{{tenant.CityName}}</td>
                          <td style="width:140px;">{{tenant.ZipCode}}</td>
                          <td style="width:160px;">{{tenant.PropertyType}}</td>
                          <td style="width:130px;">{{tenant.ISIC}}</td>
                          <td style="width:130px;">{{tenant.LineOfBusiness}}</td>
                          <td style="width:152px;">{{tenant.Revenue | currency:'USD':symbol:'1.0-0'}}</td>
                          <td style="width:160px;">{{tenant.PeopleCount}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 p-0 mt-2">
             <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li *ngIf="pager.currentPage > 1" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">««</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">«</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">»</a>
                </li>
                <li *ngIf="pager.currentPage < pager.totalPages">
                  <a (click)="setPage(pager.totalPages)">»»</a>
                </li>
                 <span class="spinui" *ngIf="Isloader">
                <i class="fas fa-spinner fa-spin showspin"></i>
              </span>
              </ul> 
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="sideBarPanelWrap" id="MapSidenavWrapDetail">
  <a href="javascript:void(0)" *ngIf="CloseActionBtnDetail" class="closebtn" (click)="closeDetailNav($event)"><i class="fa fa-angle-double-right"></i></a>
  <div id="MapDetailSideBar" class="sideMapSearch">
    <app-tenantpindetail *ngIf="selectedTenant" [tenant]="selectedTenant"></app-tenantpindetail>
  </div>
</div>