<div class="col-lg-12 no-padding">
    <div class="col-md-12 no-padding white-box">
        <div class="col-sm-4 margin-top-20">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Space Type</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>10,000</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">SqM Available  </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.TotalAvailable}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Min Div SF </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.MinDiv}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Max Contig</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.MaxContig}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Floor</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.Floor}}</b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Vacant</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.Vacant}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Date Vacant</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.DateVacant | date: 'MM/dd/yyyy'}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Date on Market       </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.DateonMarket | date: 'MM/dd/yyyy'}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label"># of Restrooms</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.NoofRestrooms}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Office SF </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.OfficeSF}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Office HVAC</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.OfficeHVAC}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Finished Ofc Mezz     </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.FinishedOfficeMezz}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Phase</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.Phase}}</b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Volts</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.Volts}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Date Vacant</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b></b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Yard-Fenced </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.YardFenced}}</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Yard-Paved       </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>{{suiteSelected.YardPaved}}</b></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 margin-top-20">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Asking Rate/SF
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>6000</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Asking Rate/MO</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>4000</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Rate Type
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b></b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Term</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b></b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">TI Allowance</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>4000</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Dock High Doors
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>12</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Grade Level Doors
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>2</b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Truckwell Door
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>4</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Clear Height
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>190</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Column Spacing

                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b></b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label"># of Offices
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>4</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Warehouse HVAC
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>12</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Unfinished Ofc Mezz
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>2</b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Amps

                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>400</b></p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Sprinklers
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>4</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Yard-Unfenced</label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>12</b></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 form-control-label">Unfinished Ofc Mezz
                      </label>
                    <div class="col-md-6">
                        <p class="form-control-static"><b>2</b></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 margin-top-20">
            <img src="assets/images/office1.jpg" style="height:300px;width:100%;padding-bottom: 20px;">
        </div>
    </div> 


    <div class="clearfix"></div>
    <div class="col-md-12 no-padding white-box" style="margin-top: 20px;padding: 20px 0 0 20px;">
        <div class="col-sm-6 no-padding-left">
            <div class="form-group">
              <label for="comment">
                <b>Suite Comments</b>
              </label>
              <textarea value="{{suiteSelected.Comments}}" class="form-control" readonly rows="5" id="comment"></textarea>
            </div>
          </div>
    <div class="col-md-6 no-padding-right" style="float: left;line-height: 20px;">
        <p>
          <b>Created By:</b> Phil Johnson - 1/1/2017 - XYZ Company
          <br>
          <b>Last Updated:</b> Stan Lewis - 2/1/2017 - ABC LLC</p>
      </div>
    </div>
    <div class="clearfix"></div>
</div>
