<div class="row">
  <div class="col-md-12">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">{{chartHeader}}</h4>
      </div>
      <div class="panel-body border">
        <div class="height-sm">
          <ngx-charts-bar-vertical [scheme]="chartColor" [customColors]="customColors" [showDataLabel]="true" [results]="BarChartDataInput"
            [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [xAxisLabel]="xAxisLabel"
            [showYAxisLabel]="true" [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
</div>