<div class="col-md-12">
  <a class="back-to-results" (click)="BackToResults()"><i class="fas fa-arrow-circle-left"></i> Back</a>
</div>
<div class="col-md-12 mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-9 p-0">
          <div class="float-left mr-2">
            <!-- <a (click)="BackToResults()"><i class="fas fa-long-arrow-alt-left"></i></a> -->

          </div>
          <div class="prevNxt-btn-wrap mobileView" style="position: relative;">
            <div class="backBtn prevNxt-btn" (click)="showPrev(propertyId)">
              <a><i class="fas fa-angle-left"></i></a>
            </div>
            <div class="backBtn prevNxt-btn" (click)="showNext(propertyId)">
              <a><i class="fas fa-angle-right"></i></a>
            </div>
          </div>
          <div class="action-btn-row mt-0 mobileView ml-2" style="margin-bottom:2px;" role="group">
            <button id="btnGroupVerticalDrop1" *ngIf="IsEmpiricalUser" type="button" (click)="sendReport()" class="btn btn-primary-ash dropdown-toggle"
              title="Listing Report" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-envelope"></i>
            </button>
            <button id="btnGroupVerticalDrop1" type="button" (click)="showReport()" class="btn btn-primary-ash dropdown-toggle"
              title="Print Report" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-print font20"></i>
            </button>
          </div>
          <div [appEditSuggestion]="'Name'">
          <label class="headClass mr-2">
            <h4 class="float-left">{{propertyDetails.PropertyName}}</h4>
          </label>
        </div>
        </div>
        <div class="col-md-3 p-0 ">
          <div class="action-btn-row mt-0 webView" role="group">
            <button id="btnGroupVerticalDrop1" type="button" (click)="sendReport()" class="btn btn-primary-ash dropdown-toggle"
              title="Listing Report" *ngIf="IsEmpiricalUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-envelope"></i>
            </button>
            <button id="btnGroupVerticalDrop1" type="button" (click)="showReport()" class="btn btn-primary-ash dropdown-toggle"
              title="Print Report" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-print font20"></i>
            </button>
          </div>
          <div class="prevNxt-btn-wrap webView">
            <div class="backBtn prevNxt-btn" (click)="showPrev(propertyId)">
              <a><i class="fas fa-angle-left"></i></a>
            </div>
            <div class="backBtn prevNxt-btn" (click)="showNext(propertyId)">
              <a><i class="fas fa-angle-right"></i></a>
            </div>
          </div>
          <div class="sideBarPanelWrap" id="MapSidenavSetting">
            <a href="javascript:void(0)" *ngIf="CloseActionBtnSet" class="closebtn" (click)="closeSettingsNav()"><i
                class="fa fa-angle-double-right"></i></a>
            <div id="MapSidenav" class="sideMapSearch">
              <app-settingsearch [sheets]="sheets" [userId]="userId" screen="Property" Type="Settings"
                [(userPreferencesId)]="userPreferencesId" [type]="Task"></app-settingsearch>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row" style="display:block">
    <ngb-tabset type="pills" [activeId]="activeIdString">
      <ngb-tab id="propertyTab">
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fa fa-building font40"></i></span>
          <span class="d-sm-block d-none"><i class="fa fa-building font40"></i> Property Details</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-md-12">
              <div class="row mb-2">
                <div class="col-md-12 p-0">
                  <div class="mainImageWrapper">
                    <div class="ImageWrapper" [ngStyle]='{"background-image":"url(" +MainPhotoUrl+ ")"}' data-toggle="modal"
                      data-target="#myModalhome" (click)="imageclick(0,MainPhotoUrl,true)">
                    </div>
                  </div>
                  <div class="mainSliderWrapper">
                    <div class="addressWrapper position-relative" [appEditSuggestion]="'Name'" [addStyle]="'top:5px;margin-left:5px;cursor:pointer; position:absolute'">
                      <label class="float-left">{{propertyDetails.Address}} <br>
                        {{propertyDetails.CityName}} {{propertyDetails.StateAbbr}} {{propertyDetails.ZipCode}}</label>
                      <label>
                        <font *ngIf="unitId == metricUnit &&  propertyDetails.PropertyUse!='Land' && propertyDetails.BuildingSizeSM">{{propertyDetails.BuildingSizeSM
                          | number: '.0-0'}} SqM
                          <font *ngIf="propertyDetails.ClassTypeName &&  propertyDetails.PropertyUse=='Office'"> Grade
                            {{propertyDetails.ClassTypeName}}</font>
                        </font>
                        <font *ngIf="unitId == metricUnit &&  propertyDetails.PropertyUse=='Land' && lotSizeValue">{{lotSizeValue
                          | number: '.0-3' }} ha</font>
                        <font *ngIf="unitId != metricUnit && propertyDetails.PropertyUse!='Land' && propertyDetails.BuildingSF">{{propertyDetails.BuildingSF
                          | number:'.0-0'}} SF</font>
                        <font *ngIf="unitId != metricUnit && propertyDetails.PropertyUse=='Land' && lotSizeValue">{{lotSizeValue
                          | number:'.0-0'}} SF</font>
                        <font *ngIf="propertyDetails.PropertyUse"> {{propertyDetails.PropertyUse}} Property </font>
                      </label>
                      <label *ngIf="propertyDetails.PropertyUse!='Land' && propertyDetails.YearBuilt"> Built in
                        {{propertyDetails.YearBuilt}} </label>
                      <label>
                        Property ID - {{propertyDetails.PropertyID}}
                      </label>
                    </div>
                    <div class="sliderWrap">
                      <owl-carousel [options]="customOptions" [items]="propertyMediaList" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                        <div class="item" *ngFor="let media of propertyMediaList; let i = index;">
                          <img src="{{mediaUrl + media.Path}}" alt="" data-toggle="modal" data-target="#myModalhome"
                            (click)="imageclick(i,media.Path,false)" />
                        </div>
                      </owl-carousel>
                    </div>
                  </div>
                  <div class="mainMapWrapper">
                    <div class="map-head">
                      <agm-map [latitude]="propertyDetails.Latitude" [longitude]="propertyDetails.Longitude"
                        [mapTypeId]="'hybrid'" [zoom]="17" class="height-full width-full">
                        <agm-marker [latitude]="propertyDetails.Latitude" [longitude]="propertyDetails.Longitude"></agm-marker>
                      </agm-map>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-propertydetails [propertyDetails]="propertyDetails"></app-propertydetails>
        </ng-template>
      </ngb-tab>

      <ngb-tab id="listingTab">
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fa fa-list-alt font40"></i></span>
          <span class="d-sm-block d-none"><i class="fa fa-list-alt font40"></i> Listing Details</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-propertylisting [propertyListings]="propertyListings" [currentListings]="currentListings" [propertyName]="propertyDetails.PropertyName" [ListingID]="listingId" (valueChange)="valueChanged($event)" [PropertyOccupancy]="PropertyOccupancy"></app-propertylisting>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fa fa-address-book font40"></i></span>
          <span class="d-sm-block d-none"><i class="fa fa-address-book font40"></i> Contacts </span>
        </ng-template>
        <ng-template ngbTabContent>

          <app-propertycontact [contactList]="contactList" [listingAgentsList]="PropertyAgentsList"></app-propertycontact>

        </ng-template>
      </ngb-tab>
      <ngb-tab id="tenantTab">
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fa fa-users font40"></i></span>
          <span class="d-sm-block d-none"><i class="fa fa-users font40"></i> Tenants</span>
        </ng-template>
        <ng-template ngbTabContent>
            <app-propertytenantaccordion [propertyId]='propertyId' [propertyName]="propertyDetails.PropertyName"></app-propertytenantaccordion>
          <!-- <app-propertytenant [propertyId]='propertyId' ></app-propertytenant> -->
        </ng-template>
      </ngb-tab>
      <ngb-tab id="transactionTab">
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fas fa-exchange-alt font40"></i></span>
          <span class="d-sm-block d-none"><i class="fas fa-exchange-alt font40"></i> Transactions</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-propertytransaction [propertyId]=propertyId></app-propertytransaction>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fa fa-map font40"></i></span>
          <span class="d-sm-block d-none"><i class="fa fa-map font40"></i> Map</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-propertymap [PropertyData]=propertyDetails></app-propertymap>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fa  fa-th-large font40"></i></span>
          <span class="d-sm-block d-none"><i class="fa  fa-th-large font40"></i> Media</span>
        </ng-template>
        <ng-template ngbTabContent>
          <app-propertymedia [propertyId]="propertyId" [propertyMediaList]="propertyMediaList" [propertyNonMediaList]="propertyNonMediaList"
            [propertyListings]="currentListings"></app-propertymedia>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none font-15"><i class="fas fa-chart-area" style="font-size:15px;"></i></span>
          <span class="d-sm-block d-none"><i class="fas fa-chart-area" style="font-size:15px;"></i> Analytics <span class="label label-theme m-l-5">BETA</span></span>
        </ng-template>
        <ng-template ngbTabContent>
          <h3 class="m-t-10"></h3>
          <p>
            <app-propertyanalytics *ngIf="IsDataLoaded" [propertyId]="propertyDetails.PropertyID" [zipcode]="propertyDetails.ZipCode"></app-propertyanalytics>
          </p>
        </ng-template>
      </ngb-tab>
      <!-- <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none">Demographics</span>
          <span class="d-sm-block d-none"><i class="fa fa-user-plus font40"></i> Demographics</span>
        </ng-template>
        <ng-template ngbTabContent>
          <h3 class="m-t-10">Nav Pills Tab 4</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none">History</span>
          <span class="d-sm-block d-none"><i class="fa fa-history font40"></i> History</span>
        </ng-template>
        <ng-template ngbTabContent>
          <h3 class="m-t-10">Nav Pills Tab 4</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <span class="d-sm-none">Public</span>
          <span class="d-sm-block d-none"><i class="fa fa-university font40"></i> Public</span>
        </ng-template>
        <ng-template ngbTabContent>
          <h3 class="m-t-10">Nav Pills Tab 4</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </ng-template>
      </ngb-tab> -->
    </ngb-tabset>
  </div>
</div>

<div *ngIf="showModal">
  <div id="myModalhome" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <app-image-viewer-modal [galleryOptions]="galleryOptions" [galleryImages]="galleryImages"></app-image-viewer-modal>
  </div>
</div>
