<div class="row">
    <div class="col-sm-6">
        <app-askrentcomparison [propertyId]="propertyId" [zipcode]="zipcode"></app-askrentcomparison>
    </div>
    <div class="col-sm-6">
        <app-vacantsummarycomparison [propertyId]="propertyId" [zipcode]="zipcode"></app-vacantsummarycomparison>
    </div>
    <div class="col-sm-6">
        <app-askrentcomparisonweighted [propertyId]="propertyId" [zipcode]="zipcode"></app-askrentcomparisonweighted>
    </div>
<!--     <div class="col-sm-6">
        <app-vacancyratecomparison [propertyId]="propertyId" [zipcode]="zipcode"></app-vacancyratecomparison>
    </div> -->
    <div class="col-sm-6">
        <app-vacancyratecomparisonstack [propertyId]="propertyId" [zipcode]="zipcode"></app-vacancyratecomparisonstack>
    </div>
    
</div>