.SpinnerCircle{
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: 99;
    padding: 30% 45%;
    font-size: 60px;
}
.btnDownload{
    font-size: 30px;
    color: midnightblue;
    width: 100%;
    z-index: 9;
    height: 46px;
}