.page_sub_head1 {
  font-size: 17px;
  background: #191d64;
  color: #fff;
  padding-top: 5px;
  margin-top: 0!important;
  width: 100%;
  border-bottom: 2px solid #f18a00;
}

div.desc {
  padding: 15px;
  background: #fff;
  color: #000;
  width: 100%;
}
.headText{
  margin-left: 25px;
}
