.mat-headerLabel{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 25px;
    color: #fff;
    background: #2d353ccf;
    width:100%;
}
.cancel-Mat{
    background: #ea7727;
    color: #fff;
}
.submit-Mat{
    background: #50a7f3;
    color: #fff;
}
.mat-button{
    line-height: 26px !important;
}