<!--<div class="col-md-12 no-padding">
  <div class="col-md-12 no-padding white-box" style="padding: 10px;">
    <div class="col-md-4 no-padding-left" style="width:200px;" >
          <img src="{{tenant.ImageUrl}}" style="height:168px;width:100%;">
        </div>
          <div class="col-sm-3">
              <div class="form-group row">
                  <ul style="list-style:none;line-height:20px;">
                      <li>{{tenant.TenantName}}</li>
                      <li>{{tenant.Street}}</li>
                      <li>{{tenant.City}}, {{tenant.State}} {{tenant.ZipCode}}</li>
                      <li>Suite {{tenant.SuiteNumber}}</li>
                      <li>{{tenant.Url}}</li>
                      <li>{{tenant.Phone}}</li>
                      <li>Star Rating {{tenant.StarRating}}</li>
                  </ul>
              </div>

          </div>
    </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 no-padding" style="padding-top: 12px;">
          <h5>Tenant Info</h5>  
      </div>
      <div class="col-md-12 no-padding white-box" style="margin-top: -11px;">
          <div class="col-sm-6 margin-top-20">
              <form class="form-horizontal">
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">Suite</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>12</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">Est Occupied SF</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>12300</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label"># Employees (Total/Local)</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>600/200</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">Emp/SF</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>0.013</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">% of Buildings</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>55</b></p>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-sm-6 margin-top-20">
              <form class="form-horizontal">
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">Est Move-In Date</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>12:30pm</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">Est Time @ Location</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>12:30pm</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">NAICS</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>511210</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">SIC</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>7372</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">Industry</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>Aaron</b></p>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-6 form-control-label">HQ</label>
                      <div class="col-md-6">
                          <p class="form-control-static"><b>Birmingham, AL</b></p>
                      </div>
                  </div>
              </form>
          </div>
      </div> 
      <div class="clearfix"></div>
                <div class="col-lg-12 no-padding" >
                <h5 style=" margin-top: -30px;">Buyer Brokers</h5>  
            </div>
            <div class="col-lg-12 no-padding white-box-table" style="margin-top: -3px;">
                    <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Names</th>
                                <th>Email Address</th>
                                <th>Phone</th>
                                <th>Title
                                  </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Cal Brokers</td>
                                <td>billjones@gmail.com</td>
                                <td>1234567890</td>
                                <td>Manager</td>
                              </tr>
                              <tr>
                                    <td>California Real Estates</td>
                                    <td>fredjonson@gmail.com</td>
                                    <td>1234567890</td>
                                    <td>Manager</td>
                                  </tr>
                            </tbody>
                          </table>
                </div>

</div>-->


<div class="col-lg-12 no-padding margin-top-5">
    <div class="col-lg-6">
        <img class="img-fluid" src="{{photoUrl}}" style="height: 230px;">

    </div>
    <div class="col-lg-6">
        <div class="col-lg-4 no-padding">
            <b>Overview</b>
        </div>
        <div class="col-lg-8 no-padding">
            <div class="detl-dashed-lin"></div>
        </div>
        <div class="col-lg-12 detl no-padding margin-top-5">
            <ul>
                <li>Tenant ID <span><b>{{tenant.ConfirmedTenantID}}</b></span></li>
                <li class="li-dashed"></li>
                <li>Phone
                    <span *ngIf="tenant.OfficePhone"><b>  O:+{{tenant.OfficePhone | slice:0:2}} ({{tenant.OfficePhone | slice:2:4}}) {{tenant.OfficePhone | slice:4:8}} {{tenant.OfficePhone | slice:8:12}}</b></span>

                    <li class="li-dashed"></li>
                    <li>WebSite<span><b> {{tenant.Website}}      </b>   </span></li>
                    <li class="li-dashed"></li>
                    <li>SIC<span><b>{{tenant.ISIC}}</b></span></li>
                    <li class="li-dashed"></li>
                    <li>Industry <span><b>{{tenant.LineOfBusiness}}</b></span></li>
                    <li class="li-dashed"></li>
                    <li>Headquarters

                        <span *ngIf="tenant.IsCountryHQ"><b>Yes</b></span>
                        <span *ngIf="!tenant.IsCountryHQ"><b>No</b></span>
                    </li>
                    <li class="li-dashed"></li>
                    <li>Est.Move-In

                        <span><b>{{tenant.MoveInDate | date: 'MM/dd/yyyy'}} </b>   </span>
                    </li>
                    <li class="li-dashed"></li>
                    <li>{{OccupiedHeader}}
                        <span *ngIf="CountryId == USCountryCode"><b>{{tenant.OccupiedSF}}</b></span>
                        <span *ngIf="CountryId != USCountryCode"><b>{{tenant.OccupiedSM}}</b></span>
                    </li>
                    <li class="li-dashed"></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 margin-top-20">
        <div class="col-lg-5 no-padding">
            <b>Location Info</b>
        </div>
        <div class="col-lg-7 no-padding">
            <div class="detl-dashed-lin"></div>
        </div>
        <div class="col-lg-12 detl no-padding margin-top-5">
            <ul>
                <li>Address <span><b>{{tenant.Address1}} </b></span></li>
                <li class="li-dashed"></li>
                <li>City <span><b>{{tenant.CityName}}</b></span></li>
                <li class="li-dashed"></li>
                <li>State <span><b>{{tenant.StateAbbr}}</b></span></li>
                <li class="li-dashed"></li>
                <li>LGA <span><b>{{tenant.CountyName}}</b></span></li>
                <li class="li-dashed"></li>
                <li>Country <span><b>{{tenant.CountryCode}}</b></span></li>
                <li class="li-dashed"></li>
                <li>Postal Code <span><b>{{tenant.ZipCode}}</b></span></li>
                <li class="li-dashed"></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 margin-top-20" style="margin-bottom: 20px;">
        <div class="col-lg-3 no-padding">
            <b>Key Contacts</b>
        </div>
        <div class="col-lg-9 no-padding">
            <div class="detl-dashed-lin"></div>
        </div>
        <div class="col-lg-12 detl no-padding margin-top-5">
            <ul>
                <li>CEO Name <span><b>{{tenant.CEOName}}</b></span></li>
                <li class="li-dashed"></li>             
                <li>CEO Title<span><b>{{tenant.CEOTitle}}</b></span></li>
                <li class="li-dashed"></li>
            </ul>
        </div>
    </div>
<div class="col-lg-12" style="margin-top: -50px;">
        <a class="view-property" (click)="showPropertyTenant(tenant.PropertyID, tenant.ConfirmedTenantID)">View Property</a>
    </div>
</div>
