.intrepid-modal{
    left: 300px !important;
    width: calc(100% - 300px);
    padding-left: 130px;
    padding-top: 0px;
}


.view-property{
    float: right;
    color: #20a8d8 !important;
    padding: 20px
}
