<div id="##PropertyId##-##ListingID##" reportid="105">
    <div class="col-lg-12 no-padding margin-top-10">
        <div class="row">
            <div class="col-lg-7 no-padding">
                <div class="prev-edit-bg">
                    <div class="prev-edit-no"># ##Index##</div>
                </div>
                <div class="prev-edit-blue edittext">
                    ##Property_Name##
                </div>
                <div class="col-lg-7 no-padding prev-edit-sub margin-top-10">
                    <p class="edittext">##Address## <br>##City##, ##State## ##Zip##</p>
                    <p class="em3-title3 edittext"> ##General_Use## for ##RecordTypeName##</p>
                    <p><span class="edittext">##BuildingSize## SqM</span><br><span class="edittext"> Class ##Class##
                            ##General_Use## Property </span><br><span class="edittext">Located in ##MarketName##</span><br>
                        <span class="edittext">##AvailableSpace## SqM Available</span><br>
                        <span class="edittext">##AskingLeaseRatePerYrText## ##LeaseTypeName##/Yr</span></p>
                </div>
                <div class="col-lg-5 no-padding">
                </div>
            </div>
            <div class="col-lg-5 no-padding-right">
                <div prop-id="##PropertyId##">
                    <img class="img-fluid" src="##PropertyImage##">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-12 no-padding margin-top-10">
        <p (click)="editFields()" class="edittext">
            ##BuildingComments##</p>
    </div> -->
    <div class="col-md-12 mt-1 no-padding">
        <p class="location-description edittext" (click)="editFields()">
            ##ListingNotes##
        </p>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="headNameProp">Property Detail</div>
                <div class="dashed-lin"></div>
            </div>
            <div class="col-lg-4 no-padding-left margin-top-10">
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Property Type :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##General_Use##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Building Size :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##BuildingSize##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Building Class :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##Class##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Typical Floor :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##TypicalFloorArea##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Year Built :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##YearBuilt##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Renovated :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##YearRenovated##</div>
                </div>
            </div>
            <div class="col-lg-4 margin-top-10">
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Status :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##ConstructionStatus##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Stories :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##Floors##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Parking :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##ParkingSpaces##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Parking Ratio :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##ParkingRatio##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Tenancy :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##Tenancy##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Parcel # :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##ParcelNumber##</div>
                </div>
            </div>
            <div class="col-lg-4 no-padding-right margin-top-10">
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">%Occupied :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##OccupancyPercent##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Land Area :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##LotSizeAC##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Zoning :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##ZoningCode##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Elevators :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##PassengerElevators##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Load Factor :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##FloorLoading##</div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="headNameProp">Listing Detail</div>
                <div class="dashed-lin"></div>
            </div>

            <div class="col-lg-4 no-padding-left margin-top-10">
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Available SqM :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##TotalAvailableSM##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Vacant :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##Vacant##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Max Contig :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##MaxContig##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Min Divisible :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##MinDiv##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit"># Spaces :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##NoOfSpaces##</div>
                </div>
            </div>
            <div class="col-lg-4 margin-top-10">
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Asking Rate :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##AskingRate##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Type :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##ListingTypeName## ##RecordTypeName##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Op Exp/SqM :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##OperatingExpensesPerSM##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Taxes/SqM :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##TaxesPerSM##</div>
                </div>
                <div class="row">
                    <div class="col-lg-5 no-padding txt-rit">Tax Year :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##TaxYear##</div>
                </div>
            </div>
            <div class="col-lg-4 no-padding-right margin-top-10">
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Sale Price :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##AskingSalePrice##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Price/SqM :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##SalePricePerSF##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-5 no-padding txt-rit">Listing Use :</div>
                    <div class="col-lg-7 no-padding pl-2 txt-right edittext">##General_Use##</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padding text-right" style="float:left">
            <button class="std-btn-add-listing"><i class="fa fa-plus"></i>Add Space</button>
          </div>
        <!-- <div class="row"> -->
            <div class="col-lg-12 no-padding tab-margin-20 table-height-stdBrochure">
                <table class="table bru-table">
                    <thead>
                        <tr>
                            <th>Floor</th>
                            <th>Unit</th>
                            <th>SqM Available</th>
                            <th>Max Contig</th>
                            <th>Min Div</th>
                            <th>Lease Rate</th>
                            <th>Space Type</th>
                            <th>Vacant</th>
                            <th>Occupancy</th>
                            <th>Term</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="suite-tbody">
                        <tr class="suite-row">
                            <td><span class="edittext">##FloorNumber##</span></td>
                            <td><span class="edittext">##SuiteNumber##</span></td>
                            <td><span class="edittext">##AvailableSM##</span></td>
                            <td><span class="edittext">##AvailableSM##</span></td>
                            <td><span class="edittext">##MinSM##</span></td>
                            <td><span class="edittext">##AskingRateText##</span></td>
                            <td><span class="edittext">##SpaceTypeName##</span></td>
                            <td><span class="edittext">##Vacant##</span></td>
                            <td><span class="edittext">##PossessionTypeName##</span></td>
                            <td><span class="edittext">##LeaseTerms##</span></td>
                            <td style="text-align: center;"><i class='btn-remove-suite far fa-trash-alt'></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- </div> -->
        <div class="row">
            <div class="col-md-12 no-padding mt-2">
                <div class="headNameProp contact-top">Listing Contacts</div>
                <div class="dashed-lin"></div>
            </div>
            <div class="col-md-12 no-padding listing-contact mt-2 address-contact-box topmarginContact">
                <div class="row m-0 listing-contact-row">
                    <div class="col-lg-3 p-0 text-left edittext top-5">##FullName##</div>
                    <div class="col-lg-3 p-0 text-left edittext top-5">##OfficeMobile##</div>
                    <div class="col-lg-3 p-0 text-left edittext top-5">##CompanyName##</div>
                    <div class="col-lg-3 p-0 text-left edittext top-5">##Email##</div>
                </div>
            </div>
        </div>
    </div>
</div>