<div id="##PropertyId##-##ListingID##" reportid="111">
    <div class="col-md-12 no-padding margin-top-10 printReportArea">
        <table style="margin:0; padding:0; float: left; width: 100%;">
            <tbody>
                <tr>
                    <td colspan="4" style="width:100%">
                        <span class="headBar edittext">
                            <h2>##Property_Name##</h2>
                            <span class="headRight">##Index##</span>
                            <span class="float-right edittext">
                                ##Address## <br>
                                ##City##, ##State## ##Zip##
                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table>
                            <tr>
                                <td class="verticalTop width-50Per" style="padding-left:0">
                                    <img src="##PropertyLandscapeImage##" class="img-fluid print-img float-left " style="width:96%; height: 600px;">
                                </td>
                                <td class="verticalTop width-50PerSec">
                                    <div class="row no-padding">
                                        <div class="col-md-6  no-padding">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Property
                                                            Type:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##General_Use##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Specific
                                                            Use:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">General</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Building
                                                            Size:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##BuildingSize##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Year
                                                            Built/Ren:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##YearBuilt## ##YearRenovatedFormatted##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Stories:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##Floors##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Parking:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##ParkingSpaces##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Parking
                                                            ratio:</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding  edittext">##ParkingRatio##
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding-left:0">
                                            <div class="row m-0">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Parcel :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##ParcelNumber##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Lot Size
                                                            (ha) :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##LotSizeAC##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Zoning :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##ZoningCode##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Tenancy :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##Tenancy##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Owner :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">ABC
                                                            Prop Co</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <p class="listparaComment edittext">
                                                ##ListingNotes##
                                            </p>
                                        </div>
                                        <div class="col-md-12 mt-3 mb-2 recordTop">
                                            <label class="sub_head_List edittext">For ##RecordTypeName##</label>
                                        </div>
                                        <div class="col-md-6  no-padding">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Available
                                                            :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 no-padding edittext">##AvailableSpace##
                                                            m<sup>2</sup></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Max-Contig
                                                            :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 edittext no-padding ">##MaxContig##
                                                            m<sup>2</sup></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Min-Divisible
                                                            :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 edittext no-padding ">##MinDiv##
                                                            m<sup>2</sup></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Vacant :</label>
                                                        <label class="pl-2 rightLabel col-sm-6 edittext no-padding ">##Vacant##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Spaces :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##NoOfSpaces##</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding-left:0">
                                            <div class="row m-0">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Asking
                                                            Rate :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##AskingRate##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Rate Type
                                                            :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##ListingTypeName##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Op Exp/ m<sup>2</sup>
                                                            :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##OperatingExpensesPerSM##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Sale
                                                            Price :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##AskingSalePrice##</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="leftLabel col-sm-6">Price/ m<sup>2</sup>
                                                            :</label>
                                                        <label class="pl-2 rightLabel col-sm-6  no-padding edittext">##SalePricePerSF##</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <p class="listpara contact-top">Listing Company</p>
                                        </div>
                                        <div class="col-md-12 noPad">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="listing-company-list" class="row">
                                                        <span id="listing-company" class="col-md-6 no-padding">
                                                            <label class="rightLabel edittext" style="min-height: 20px;">##ListingAgentCompanyName##</label>
                                                            <span id="listing-agents-list">
                                                                <span id="listing-agents">
                                                                    <label class="rightLabel edittext">##FullName##</label>
                                                                    <label class="rightLabel edittext">##OfficeMobile##</label>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>