<div id="##PropertyId##-##ListingID##" reportid="103">
  <div class="col-lg-12 no-padding margin-top-10">
    <div class="pull-left em1-template-title edittext">##Property_Name##</div>
    <div class="float-right title-bar-hash index-box"># ##Index##</div>
  </div>
  <div class="col-lg-12 float-left no-padding property-desc">
    <div class="row">
      <div class="col-lg-3">
        <div class="prev-edit-right">
          <div class="prev-edit-right-img" prop-id="##PropertyId##">
            <img class="img-responsive" src="##PropertyImage##" class="img" width="100%">
          </div>
        </div>
      </div>
      <div class="col-lg-3 text-left">
        <p class="edittext">##Address## <br />##City##, ##State## ##Zip## <br />
          ##BuildingSize## SqM Class ##Class## ##General_Use##<br />
          ##LotSizeAC## ha </p>
        <h2 class="em2-title2 edittext"> ##General_Use## for ##RecordTypeName##</h2>
        <div class="regular-txt">
          <span class="edittext"> Located in ##MarketName##</span><br />
          <span class="edittext">##TotalAvailableSM## SqM Available in ##SuiteCount## Spaces</span><br />
          <span class="edittext">##AskingLeaseRatePerYrText## ##LeaseTypeName##/Yr</span>
        </div>
      </div>
      <div class="col-lg-3 no-padding">
        <div class="row">
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Specific Use:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext report-dropdown" data-dropdown-type="specificUse">##SpecificUseName##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Building Class:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext report-dropdown" data-dropdown-type="buildingClass">##Class##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Typical Floor:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right">##TypicalFloorArea##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Year Built:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##YearBuilt##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Renovated:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##YearRenovated##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">% Occupied:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##OccupancyPercent##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Load Factor:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##FloorLoading##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Stories:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##Floors##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Elevators:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##PassengerElevators##</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 no-padding-right">
        <div class="row m-0">
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Parking Spaces:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##ParkingSpaces##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Parking Ratio:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##ParkingRatio##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Tenancy:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext report-dropdown" data-dropdown-type="tenancy">##Tenancy##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Parcel #:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##ParcelNumber##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Zoning:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##ZoningCode##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="w-100 spacer01"></div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">For Sale:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##AskingSalePrice##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Price/SqM:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##SalePricePerSM##</div>
            </div>
          </div>
          <div class="col-lg-12 no-padding">
            <div class="row">
              <div class="col-lg-6 no-padding text-right regular-txt">Cap Rate:</div>
              <div class="col-lg-6 no-padding pl-2 txt-right edittext">##CAPRate##</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 no-padding text-right" style="float:left">
    <button class="btn-add-listing"><i class="fa fa-plus"></i>Add Space</button>
  </div>
  <div class="col-lg-12 no-padding table-height table-scroll">
    <table class="table em-table">
      <thead>
        <tr>
          <th>Floor</th>
          <th>Unit</th>
          <th>SqM Available</th>
          <th>Max Contig</th>
          <th>Min Div</th>
          <th>Lease Rate</th>
          <th>Space Type</th>
          <th>Vacant</th>
          <th>Occupancy</th>
          <th>Term</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="suite-tbody">
        <tr class="suite-row">
          <td><span class="edittext">##FloorNumber##</span></td>
          <td><span class="edittext">##SuiteNumber##</span></td>
          <td><span class="edittext">##AvailableSM##</span></td>
          <td><span class="edittext">##AvailableSM##</span></td>
          <td><span class="edittext">##MinSM##</span></td>
          <td><span class="edittext">##AskingRateText##</span></td>
          <td><span class="edittext report-dropdown" data-dropdown-type="spaceType">##SpaceTypeName##</span></td>
          <td><span class="edittext report-dropdown" data-dropdown-type="vacant">##Vacant##</span></td>
          <td><span class="edittext report-dropdown" data-dropdown-type="possessionType">##PossessionTypeName##</span></td>
          <td><span class="edittext">##LeaseTerms##</span></td>
          <td style="text-align: center;"><i class='btn-remove-suite far fa-trash-alt'></i></td>
          
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 mt-2 no-padding">
    <p class="location-description edittext">
      ##ListingNotes##
    </p>
  </div>
  <div class="col-lg-12 no-padding">
    <div class="lease-contact">Leasing Contact</div>
    <div id="listing-company-list" class="address-contact-box">
      <span id="listing-company">
          <div class="lease-Company edittext float-left" style="min-height: 15px; width:100%">##ListingAgentCompanyName##</div>
          <div id="listing-agents-list" class="co-address edittext" style="min-height: 15px; float:left; width:100%"><span id="listing-agents" class="sep_bar"> ##FullName##
              ##OfficeMobile##</span>
          </div>
      </span>
    </div>
  </div>
</div>