<div id="coverPage" reportid="110">
<div class="col-md-12 no-padding margin-top-10 printReportArea">
    <table style="width:100%">
        <tbody>
            <tr>
                <td colspan="4" style="text-align: center">
                    <h2 class="cover_head edittext" data-text="Report Name"></h2>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p class="nameHead edittext">Presented By: ##Agent_Name## </p>
                    <p class="nameHead edittext mt-2 mb-2"> ##Date## </p>
                    <div class="logBottom">
                        <img src="##CompanyLogo##" class="img-fluid">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
