         
                    <div class="col-lg-3 no-padding">
                            <b>##Index## ##PropertyName##</b>
                          </div>
                    <div class="col-lg-9 no-padding">
                            <div class="dashed-lin"></div>
                          </div>
                          <div class="col-lg-12 no-padding margin-top-10">
                          
                                 ##PropertyMedia## 
                                                                        
                          </div>

                          