
                    <div class="col-lg-6 no-padding">
                            <b>##Index## ##Property_Name## - ##ListingCompanyName## - ##TotalAvailableSM## </b>
                          </div>
                    <div class="col-lg-6 no-padding">
                            <div class="dashed-lin"></div>
                          </div>
                          <div class="col-lg-12 no-padding margin-top-10">
                                <!--<div class="col-lg-4 no-padding-left">
                                    <div class="media-img1"><img class="img-responsive" src="##PropertyMediaUrl##" class="img" width="100%"></div>
<p class="center">##PropertyMediaName## - 5MB</p>
                                </div>-->
                                 ##PropertyMedia##
                                    <!--<div class="col-lg-3">
                                        <div class="media-img1"><img class="img-responsive" src="assets/images/media-img3.jpg" class="img" width="100%"></div>
        <p class="center">CBRE Flyer2 - 17MB</p>
                                        </div>-->


                                        <!--<div class="col-lg-2 no-padding-right">
                                                <div class="media-img1"><img class="img-responsive" src="assets/images/media-img4.jpg" class="img" width="100%"></div>
            <p class="center redcolor">Upload files</p>
                                            </div>-->
                          </div>

