
<!--<div class="col-lg-6 no-padding-left">-->
<!--<div class="rep-prev-left" style="font-size: 10px;">-->
   <!--##header_template##-->
   <div class="page">
        <div id="Multi_##PropertyId##-##ListingID##" reportid="110">
        <div class="col-lg-12 no-padding margin-top-10">
            <div class="col-lg-11 no-padding multi-bg">
                <div class="pull-left edittext">
                   ##Property_Name##
                </div>
                <div class="pull-right edittext">
                    For ##RecordTypeName##
                </div>
            </div>
            <div class="col-lg-1 no-padding multi-bg-rit">
                <div class="center">##Index##</div>
            </div>
        </div>
        <div class="col-lg-12 no-padding margin-top-10">
            <div class="col-lg-3 no-padding-left">
                <img class="img-responsive" src="##PropertyImage##" class="img" width="100%">
            </div>
            <div class="col-lg-4">
                <div class="col-lg-8 no-padding txt-rit">Property Type :</div>
                <div class="col-lg-4 no-padding black edittext">##General_Use##</div>
                <div class="col-lg-8 no-padding txt-rit">Building Size :</div>
                <div class="col-lg-4 no-padding black edittext">##BuildingSize##</div>
                <div class="col-lg-8 no-padding txt-rit">Specific Use :</div>
                <div class="col-lg-4 no-padding black edittext"> ##SpecificUseName##</div>
                <div class="col-lg-8 no-padding txt-rit">Typical Floor :</div>
                <div class="col-lg-4 no-padding black edittext">##TypicalFloorArea##</div>
                <div class="col-lg-8 no-padding txt-rit">Year Built :</div>
                <div class="col-lg-4 no-padding black edittext">##YearBuilt##</div>
                <div class="col-lg-8 no-padding txt-rit">Renovated :</div>
                <div class="col-lg-4 no-padding black edittext">##YearRenovated##</div>
                <div class="col-lg-8 no-padding txt-rit">Status :</div>
                <div class="col-lg-4 no-padding black edittext">##ConstructionStatus##</div>
                <div class="col-lg-8 no-padding txt-rit">Stories :</div>
                <div class="col-lg-4 no-padding black edittext">##Floors##</div>
                <div class="col-lg-8 no-padding txt-rit">Parking Spaces:</div>
                <div class="col-lg-4 no-padding black edittext">##ParkingSpaces##</div>
                <div class="col-lg-8 no-padding txt-rit">Parking Ratio:</div>
                <div class="col-lg-4 no-padding black edittext">##ParkingRatio##</div>
                <div class="col-lg-8 no-padding txt-rit">Zoning :</div>
                <div class="col-lg-4 no-padding black edittext">##ZoningCode##</div>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-8 no-padding txt-rit">Available :</div>
                <div class="col-lg-4 no-padding black edittext">##AvailableSpace##</div>    
                <div class="col-lg-8 no-padding txt-rit">MinDivisible :</div>
                <div class="col-lg-4 no-padding black edittext">##MinDiv##</div> 
                <div class="col-lg-8 no-padding txt-rit">Max Contig:</div>
                <div class="col-lg-4 no-padding black edittext">##MaxContig##</div> 
                <div class="col-lg-8 no-padding txt-rit">Asking Rate:</div>
                <div class="col-lg-4 no-padding black edittext">##AskingRate##</div> 
                <div class="col-lg-8 no-padding txt-rit">Rate Type:</div>
                <div class="col-lg-4 no-padding black edittext">##LeaseTypeName##</div> 
                <div class="col-lg-8 no-padding txt-rit">Spaces Avail:</div>
                <div class="col-lg-4 no-padding black edittext">##NoOfSpaces##</div> 
                <div class="col-lg-8 no-padding txt-rit">Op Exp/Sqm:</div>
                <div class="col-lg-4 no-padding black edittext">##OperatingExpensesPerSF##</div> 
                <div class="col-lg-8 no-padding txt-rit">% Occupied:</div>
                <div class="col-lg-4 no-padding black edittext">##OccupancyPercent##</div> 
                <div class="col-lg-8 no-padding txt-rit">Sale Price:</div>
                <div class="col-lg-4 no-padding black edittext">##AskingSalePrice##</div> 
           
            </div>
          <!--  <div class="col-lg-1 no-padding-right">
                <img class="img-responsive" src="assets/images/multi-img.png" class="img" width="100%">
            </div>-->
        </div>
        <div class="col-lg-12 no-padding margin-top-10 left-align edittext">
            <p>##Address## <br>##City##, ##State## ##Zip##<br>Located in ##MarketName##<br>##MinDiv## - ##MaxContig## SqM Available in 4 Spaces
                <br>##AskingRate##</p>
            <p class="blue edittext"><b> ##General_Use## for ##ListingTypeName## ##RecordTypeName##</b></p>
            <p>##BuildingComments##</p>
            
            <P>Contact <b class="black edittext"> ##ListingCompanyName##</b><br> ##AgentName## (816) 123-4567 </P>
            <p></p>
        </div>
    
        </div>
        </div>
    
    <!--</div>-->
    <!--</div>-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--<div class="col-lg-6 no-padding-left">-->
    <!--<div class="rep-prev-left" style="font-size: 10px;">
        <div class="col-lg-12 no-padding">
            <div class="col-lg-6 no-padding">
                <div class="edit-logo"></div>
            </div>
            <div class="col-lg-6 no-padding margin-top-5">
                <div class="multi-txt">
                    100 main st<br>Blue Springs, MO 64014
                </div>
            </div>
        </div>
        <div class="col-lg-12 no-padding margin-top-10">
            <div class="col-lg-11 no-padding multi-bg">
                <div class="pull-left">
                    Frost Bank Tower
                </div>
                <div class="pull-right">
                    For Lease
                </div>
            </div>
            <div class="col-lg-1 no-padding multi-bg-rit">
                <div class="center">#1</div>
            </div>
        </div>
        <div class="col-lg-12 no-padding margin-top-10">
            <div class="col-lg-3 no-padding-left">
                <img class="img-responsive" src="assets/images/Property1.png" class="img" width="100%">
            </div>
            <div class="col-lg-4">
                <div class="col-lg-9 no-padding txt-rit">Property Type :</div>
                <div class="col-lg-3 no-padding black">Office</div>
                <div class="col-lg-9 no-padding txt-rit">Building Size :</div>
                <div class="col-lg-3 no-padding black">4,000</div>
                <div class="col-lg-9 no-padding txt-rit">Building Class :</div>
                <div class="col-lg-3 no-padding black">A</div>
                <div class="col-lg-9 no-padding txt-rit">Typical Floor :</div>
                <div class="col-lg-3 no-padding black">31,089</div>
                <div class="col-lg-9 no-padding txt-rit">Year Built :</div>
                <div class="col-lg-3 no-padding black">2001</div>
                <div class="col-lg-9 no-padding txt-rit">Renovated :</div>
                <div class="col-lg-3 no-padding black">2012</div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-9 no-padding txt-rit">Status :</div>
                <div class="col-lg-3 no-padding black">Existing</div>
                <div class="col-lg-9 no-padding txt-rit">Stories :</div>
                <div class="col-lg-3 no-padding black">33</div>
                <div class="col-lg-9 no-padding txt-rit">Parking :</div>
                <div class="col-lg-3 no-padding black">540</div>
                <div class="col-lg-9 no-padding txt-rit">Parking Ratio :</div>
                <div class="col-lg-3 no-padding black">4.68</div>
                <div class="col-lg-9 no-padding txt-rit">Tenancy :</div>
                <div class="col-lg-3 no-padding black">Multi</div>
                <div class="col-lg-9 no-padding txt-rit">Parcel # :</div>
                <div class="col-lg-3 no-padding black">9187792</div>
            </div>
            <div class="col-lg-1 no-padding-right">
                <img class="img-responsive" src="assets/images/multi-img.png" class="img" width="100%">
            </div>
        </div>
        <div class="col-lg-12 no-padding margin-top-10 left-align">
            <p>401 Congress Ave<br>Austin TX 78701<br>Located in Downtown CBD<br>5,000 - 120,000 SF Available in 4 Spaces
                <br>$28.00 - $30.00 FSG</p>
            <p class="blue"><b> OFFICE FOR DIRECT LEASE</b></p>
            <P>Leasing Contact <b class="black">Empirical CRE</b><br> Bill Johnson (816) 123-4567 | Sam Jones (816) 345-8765</P>
            <p>This loaction is ideal for those looking to be in the thick of all the great. Festive aspects San Francisco has to
                offer without having to deal with heavy crowds or noise. Easily accessible to get to the hip bars/restaurants
                in the mission, Castro, the Haight or Hayes Valley. Walking distance to Golden Gate Park and Dolores.</p>
        </div>
    </div>-->
    <!--</div>-->
