<div id="coverPage" reportid="101">
  <h1 class="rep-heading edittext mt-5" data-text="Report Name"></h1>
  <div class="rep-logo">
    <img src="##CompanyLogo##" class="img-fluid" />
  </div>
  <!-- <p>
    Created by:<br><span class="editable edittext" id="editable_agnetname"> ##Agent_Name## </span> <br> ##CompanyName##
  </p> -->
  <p class="nameHead  mt-2 mb-1 edittext">Created By:</p>
  <p class="nameHead editable edittext mb-1" id="editable_agnetname"> ##Agent_Name## </p>
  <p class="nameHead edittext mb-1"> ##CompanyName## </p>
 
</div>
