<div id="Multi_##PropertyId##-##ListingID##" reportid="107">
    <div class="col-lg-12 no-padding margin-top-10">
        <div class="row">
            <div class="col-lg-12 noPad">
                <div class="pull-left multi-bg_4 edittext">123 ##Property_Name##
                    <span class="float-right">For ##ListingType##</span>
                </div>
                <div class="float-right title-bar-hash index-box-5"># ##Index##</div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padding margin-top-10">
        <div class="row">
            <div class="col-lg-2 no-padding-left">
                <img class="img-responsive" src="##PropertyImage##" class="img" width="100%">
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <label class="label-txt-left_3 col-md-12">##Address##</label>
                    <label class="label-txt-left_3 col-md-12">##City##, ##State## ##Zip##</label>
                    <label class="label-txt-left_3 col-md-12">Located in ##MarketName##</label>
                    <label class="label-txt-left_3 col-md-12">##MinDiv## - ##MaxContig## SqM Available in 4 Spaces</label>
                    <label class="label-txt-left_3 col-md-12">##AskingRate## ##LeaseTypeName##/Yr</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-7 no-padding txt-left_3">Property Type :</div>
                    <div class="col-lg-5 p-0 txt-right_3 edittext">##General_Use##</div>
                </div>
                <div class="row">
                    <div class="col-lg-7 no-padding txt-left_3">Building Size :</div>
                    <div class="col-lg-5 p-0 txt-right_3 edittext">##BuildingSize##</div>
                </div>
                <div class="row">
                    <div class="col-lg-7 no-padding txt-left_3">Building Class :</div>
                    <div class="col-lg-5 p-0 txt-right_3 edittext"> ##Class##</div>
                </div>
                <div class="row">
                    <div class="col-lg-7 no-padding txt-left_3">Typical Floor :</div>
                    <div class="col-lg-5 p-0 txt-right_3 edittext">##TypicalFloorArea##</div>
                </div>
                <div class="row">
                    <div class="col-lg-7 no-padding txt-left_3">Year Built :</div>
                    <div class="col-lg-5 p-0 txt-right_3 edittext">##YearBuilt##</div>
                </div>
                <div class="row">
                    <div class="col-lg-7 no-padding txt-left_3">Renovated :</div>
                    <div class="col-lg-5 p-0 txt-right_3 edittext">##YearRenovated##</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row m-0">
                    <div class="col-lg-6 no-padding txt-left_3">Status :</div>
                    <div class="col-lg-6 p-0 txt-right_3 edittext">##ConstructionStatus##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-6 no-padding txt-left_3">Stories :</div>
                    <div class="col-lg-6 p-0 txt-right_3 edittext">##Floors##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-6 no-padding txt-left_3">Parking :</div>
                    <div class="col-lg-6 p-0 txt-right_3 edittext">##ParkingSpaces##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-6 no-padding txt-left_3">Parking Ratio :</div>
                    <div class="col-lg-6 p-0 txt-right_3 edittext">##ParkingRatio##</div>
                </div>
                <div class="row m-0">
                    <div class="col-lg-6 no-padding txt-left_3">Tenancy :</div>
                    <div class="col-lg-6 p-0 txt-right_3 edittext">##Tenancy##</div>
                    <div class="col-lg-6 no-padding txt-left_3">Parcel # :</div>
                    <div class="col-lg-6 p-0 txt-right_3 edittext">##ParcelNumber##</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 no-padding">
        <div class="col-md-12 no-padding">
            <label class="em2-title2 edittext m-0 webTop_print mb-pnt float-left">##General_Use## for
                ##ListingTypeName##
                ##RecordTypeName##</label>
        </div>
        <div class="col-md-12 no-padding address-contact-box_sub noPad">
            <div class="row m-0">
                <span class="rightLabel float-left mb-pnt">Listing Contact(s): </span>
            </div>
            <div id="listing-company-list" class="rightLabel float-left row m-0">
                <span id="listing-company">
                    <b>##ListingAgentCompanyName##</b>
                    <span id="listing-agents-list" class="edittext" class="edittext"> <span id="listing-agents">
                            | ##ListingAgentName## ##OfficeMobile## </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <p class="listparaComment_3Row edittext">
            ##ListingNotes##
        </p>
    </div>
</div>