<div id="Multi_##PropertyId##-##ListingID##" reportid="109">
    <div class="col-lg-12 no-padding margin-top-10">
        <div class="row">
            <div class="col-lg-12 mar-top-2 noPad">
                <div class="pull-left multi-bg_4 edittext"> ##Property_Name##
                    <span class="float-right">##City##, ##State## ##Zip##</span>
                </div>
                <div class="float-right title-bar-hash index-box-4"># ##Index##</div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-padding webTop">
        <div class="row">
            <div class="col-lg-2 no-padding-left">
                <img class="img-fluid" src="##PropertyImage##" style="float: left;">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-6 no-padding txt-rit_4">Property Type :</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##General_Use##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 no-padding txt-rit_4">Building Size :</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##BuildingSize##</div>
                        </div>
                        <div class="row">
                            ##template##
                        </div>
                        <div class="row">
                            <div class="col-lg-6 no-padding txt-rit_4">Typical Floor :</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##TypicalFloorArea##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 no-padding txt-rit_4">Year Built/Ren :</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##YearBuilt## ##YearRenovatedFormatted##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 no-padding txt-rit_4">Status :</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##ConstructionStatus##</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-7 no-padding txt-rit_4">Stories :</div>
                            <div class="col-lg-5 p-0 txt-right_4 edittext">##Floors##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 no-padding txt-rit_4">Parking/Ratio:</div>
                            <div class="col-lg-5 p-0 txt-right_4 edittext">##ParkingSpaces## ##ParkingRatioFormatted##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 no-padding txt-rit_4">Zoning :</div>
                            <div class="col-lg-5 p-0 txt-right_4 edittext">##ZoningCode##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 no-padding txt-rit_4">Available :</div>
                            <div class="col-lg-5 p-0 txt-right_4 edittext">##AvailableSpace##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 no-padding txt-rit_4">MinDivisible :</div>
                            <div class="col-lg-5 p-0 txt-right_4 edittext">##MinDiv##</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 no-padding txt-rit_4">Max Contig:</div>
                            <div class="col-lg-5 p-0 txt-right_4 edittext">##MaxContig##</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row m-0">
                            <div class="col-lg-6 no-padding txt-rit_4">Asking Rate:</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##AskingRate##</div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-6 no-padding txt-rit_4">Rate Type:</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##LeaseTypeName##</div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-6 no-padding txt-rit_4">Spaces Avail:</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##NoOfSpaces##</div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-6 no-padding txt-rit_4">Op Exp/Sqm:</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##OperatingExpensesPerSM##</div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-6 no-padding txt-rit_4">% Occupied:</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##OccupancyPercent##</div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-6 no-padding txt-rit_4">Sale Price:</div>
                            <div class="col-lg-6 p-0 txt-right_4 edittext">##AskingSalePrice##</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="row m-0">
            <label class="em2-title2 edittext webTop mr-3 labelHeadListType">##General_Use_Listing## for ##ListingTypeName##
                ##RecordTypeName##</label>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="row m-0">
            <p class="listparaComment_4Row edittext">
                ##ListingNotes##
            </p>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="row m-0">
            <span class="rightLabel float-left mr-2">Listing Contact(s) : </span>
            <div id="listing-company-list" style="margin-left: -2px!important;" class="rightLabel float-left row">
                <span id="listing-company">
                    <b> ##ListingAgentCompanyName## </b>
                    <span id="listing-agents-list" class="edittext" class="edittext"> <span id="listing-agents">
                            | ##ListingAgentName## ##OfficeMobile## </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>